extends layout
block content
  include navbar
  .container
    h1.title= title
    form(action="add" method="post" enctype= 'multipart/form-data').mb-5 
      .mb-3
        label.form-label(for='exampleInputEmail1') nomi
        input.form-control#exampleInputEmail1.toldir(name="title" type='text')
      .mb-3
        label.form-label(for='exampleInputEmail1') narxi 
        input.form-control#exampleInputEmail1.toldir(name="price" type='text')
      .mb-3
        label.form-label(for='exampleInputEmail1') mahsulot rasmi 
        input.form-control#exampleInputEmail1.toldir(name="img" type='file' multiple)
      .mb-3
        label.form-label(for='exampleInputEmail1') chegirmasi bormi ?
        input.form-control#exampleInputEmail1(name="sale" type='text')
      .mb-3
        label.form-label(for='exampleInputEmail1') kategoriyasi
        select(name="category").form-control 
          option(value="mashina") Mashina
          option(value="telefon") Telefon
          option(value="uy_joy") Uy joy
          option(value="bolalar_uchun") Bolalar uchun
          option(value="kiyim_kechak") Kiyim kechak
      .mb-3
        label.form-label(for='exampleInputEmail1') mahsulot haqida qisqacha
        textarea(name="aboutPro", rows="3").form-control.toldir
      .mb-3
        label.form-label(for='exampleInputEmail1') telefon raqamingiz
        input.form-control#exampleInputEmail1.toldir(name="phone" type='number')
      .mb-3
      button.btn.btn-primary(type='submit') Joylash