nav.navbar.navbar-expand-lg.myNav
    .container
        a.navbar-brand.nav-link(href='/')
            | home
        .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="/") home
            li.nav-item
                a.nav-link(href='/add') add
            li.av-item
                a.nav-link(href='/register') registration
            li.nav-item
                a.nav-link.kirish(href='/login') login
            li.nav-item
                a.nav-link(href="/logout") logout
